---
import Layout from '../layouts/Layout.astro';
import Phone from '../components/phone/Phone.astro';
import Pagination from '../components/phone/Pagination.astro';
import About from '../components/apps/About.astro';
import { members } from '../lib/members';

const maxIconsPerPage = 4 * 6;
const pageCount = Math.ceil(members.length / maxIconsPerPage);
---

<Layout>
	<Phone>
		<div class='scroller'>
			<div class='icons'>
				<!-- Rather yucky code to split the icons across several pages -->
				{
					Array.from({ length: pageCount }, (_, i) => {
						const entries = members.slice(
							i * maxIconsPerPage,
							(i + 1) * maxIconsPerPage,
						);
						return (
							<div class='page'>
								{entries.map((e) => (
									<a href={e.url} class='icon'>
										{/* We have an icon placeholder container here so that we can retain the icon's position and also animate it. */}
										<div>
											<img
												src={`/avatars/${e.id}.svg`}
												id={`icon-${e.id}`}
												width='52'
												height='52'
											/>
										</div>
										{e.name}
									</a>
								))}
							</div>
						);
					})
				}
			</div>
		</div>

		<div class='bottom'>
			<Pagination pages={pageCount} />
			<div class='bar'>
				<div>
					<button id='about-icon'>
						<img
							src='/images/question.svg'
							width='52'
							height='52'
						/>
					</button>
				</div>
			</div>
		</div>

		<About />

		{/* Put custom apps here */}
	</Phone>
</Layout>

<style>
	:root {
		--icon-size: 52px;
		--icon-radius: 14px;
		--icon-active-filter: brightness(0.4);

		--app-open-ease: cubic-bezier(0.45, 0.02, 0, 0.97);
		--app-open-icon-transition:
			left 0.6s var(--app-open-ease), top 0.6s var(--app-open-ease),
			border-radius 0.6s var(--app-open-ease),
			width 0.6s var(--app-open-ease), height 0.6s var(--app-open-ease);
		/* Seems to help with browser jank for app open/close animations. */
		--app-open-icon-will-change: left, top, border-radius, width, height;
	}

	* {
		box-sizing: border-box;
	}

	html::after {
		content: '';
		position: fixed;
		inset: 0;
		z-index: -1;
		background: radial-gradient(#2d637c, #043958);
	}

	body {
		display: grid;
		place-items: center;
		height: 100vh;
		margin: 0;
		font-family:
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			'Open Sans',
			'Helvetica Neue',
			sans-serif;
	}

	.scroller {
		overflow-x: scroll;
		scroll-snap-type: x mandatory;

		&::-webkit-scrollbar {
			display: none;
		}

		.icons {
			display: flex;
			min-width: max-content;

			.page {
				display: flex;
				flex-wrap: wrap;
				align-content: flex-start;
				gap: 8px;

				scroll-snap-align: center;

				width: calc(72px * 4 + 8px * 3);
				margin: 19px;
				margin-bottom: 0;

				/* Each user entry */
				a.icon {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					width: 72px;
					height: 72px;
					padding: 4px;
					padding-bottom: 0;

					color: #ffffffe6;
					font-size: 10px;
					text-decoration: none;
					user-select: none;
					cursor: pointer;

					> div {
						width: var(--icon-size);
						height: var(--icon-size);

						&:active img {
							filter: var(--icon-active-filter);
						}

						img {
							display: block;
							width: var(--icon-size);
							height: var(--icon-size);
							border-radius: var(--icon-radius);

							transition: var(--app-open-icon-transition);
							will-change: var(--app-open-icon-will-change);
						}
					}
				}
			}
		}
	}

	.bottom {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.bar {
			display: flex;
			justify-content: center;
			gap: 28px;
			padding: 10px;
			background-color: #ffffff72;

			> div,
			button {
				all: unset; /* Remove the default button styles */
				height: var(--icon-size);
				width: var(--icon-size);
				cursor: pointer;

				img {
					display: block;
					height: var(--icon-size);
					width: var(--icon-size);
					border-radius: var(--icon-radius);

					transition: var(--app-open-icon-transition);
					will-change: var(--app-open-icon-will-change);

					&:active {
						filter: var(--icon-active-filter);
					}
				}
			}
		}
	}
</style>

<script>
	const scroller: HTMLDivElement = document.querySelector('.scroller')!;
	const screen: HTMLDivElement = document.querySelector('.screen')!;
	const home: HTMLButtonElement = document.querySelector('#home')!;

	// Behold! Terrible! App entering/exiting logic!

	// Lock scrolling when animating
	function animationLock() {
		scroller.style.overflow = 'hidden';
		animating = true;

		setTimeout(() => {
			scroller.attributeStyleMap.delete('overflow');
			animating = false;
		}, 600);
	}

	const appScale =
		document.querySelector('img[id^="icon-"]')!.getBoundingClientRect()
			.width / screen.getBoundingClientRect().width;

	let iconRect: DOMRect;
	let icon: HTMLDivElement;
	let app: HTMLDivElement;
	let onHome = true;
	let animating = false;

	function openApp(icon_: HTMLImageElement, app_: HTMLDivElement) {
		if (animating || !onHome) return;
		animationLock();
		onHome = false;

		icon = icon_;
		app = app_;
		const iconRectAbs = icon.getBoundingClientRect();
		const appRect = screen.getBoundingClientRect();

		// Relative to the screen, which is the closest relatively-positioned ancestor
		iconRect = new DOMRect(
			iconRectAbs.left - appRect.left,
			iconRectAbs.top - appRect.top,
			iconRectAbs.width,
			iconRectAbs.height,
		);

		app.style.display = 'block'; // Show the app
		app.style.left = iconRect.left + 'px';
		app.style.top =
			// Offsets the icon relative to the screen, which is the closest relatively-positioned ancestor
			iconRect.top -
			// Offset to make up for the clip path (taking in account the scale), to center the app against the icon
			(appRect.height * appScale - iconRect.height) / 2 +
			'px';
		// This could probably be done statically, but might as well do it like this so we don't have to change numbers in two places (more than we already do)
		app.style.width = appRect.width + 'px';
		app.style.height = appRect.height + 'px';
		app.style.scale = appScale + '';
		app.style.clipPath = `inset(${(appRect.height - appRect.width) / 2}px 0px round ${14 / appScale}px)`;

		icon.style.position = 'absolute';
		icon.style.left = iconRect.left + 'px';
		icon.style.top = iconRect.top + 'px';

		setTimeout(() => {
			icon.style.left = '0px';
			icon.style.top = (appRect.height - appRect.width) / 2 + 'px';
			icon.style.width = appRect.width + 'px';
			icon.style.height = appRect.width + 'px';
			icon.style.borderRadius = '0px';

			app.classList.add('visible');
		});

		setTimeout(() => {
			// Fixes the icon showing up when i.e. overscrolling
			icon.style.opacity = '0';
		}, 300);
	}

	function closeApp() {
		if (animating || onHome) return;
		animationLock();

		app.classList.remove('visible');

		icon.style.left = iconRect.left + 'px';
		icon.style.top = iconRect.top + 'px';
		icon.attributeStyleMap.delete('opacity');
		icon.attributeStyleMap.delete('width');
		icon.attributeStyleMap.delete('height');
		icon.attributeStyleMap.delete('border-radius');

		setTimeout(() => {
			app.attributes.removeNamedItem('style');
			icon.attributes.removeNamedItem('style');

			onHome = true;
		}, 600);
	}

	// App listeners
	const aboutIcon: HTMLImageElement =
		document.querySelector('#about-icon img')!;
	const about: HTMLDivElement = document.querySelector('#about')!;

	aboutIcon.addEventListener('click', () => openApp(aboutIcon, about));

	home.addEventListener('click', closeApp);

	// Automatically create app open handlers
	for (const app of document.querySelectorAll<HTMLDivElement>(
		'div.app:not(#about)',
	)) {
		const id = app.id;
		const icon: HTMLImageElement = document.querySelector(`#icon-${id}`)!;
		const link = icon.parentElement!.parentElement as HTMLAnchorElement;

		link.attributes.removeNamedItem('href');
		link.addEventListener('click', (e) => {
			e.preventDefault();
			openApp(icon, app);
		});
	}
</script>
